@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.section {
  width: 100%;
  max-width: 1200px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  z-index: 50;
}

#header .left {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding-left: 3rem;
  color: #4A4A4A;
}

#header .logo {
  height: 2.5rem;
  padding-right: .75rem;
}

#header .grey {
  color: grey;
}

nav {
  padding-right: 3rem;
  width: 50%;
}

#header nav ul {
  display: flex;
  justify-content: space-between;
}

#header nav ul li a {
  text-decoration: none;
  color: grey;
  margin-left: 1rem;
  transition: color 400ms;
}

#header nav ul li a:hover {
  color: skyblue;
}

#header-mobile {
  display: none;
}

#spacer {
  display: none;
}

#learn {
  position: relative;
  top: 4rem;
  color: #4A4A4A;
  background-color: #EAEBEC;
  display: flex;
  align-items: center;
}

#learn .left .banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  height: 30rem;
  width: 40rem;
  margin: 2rem 1.25rem 2rem 1.5rem;
}

#learn .right {
  margin: 2rem 1.5rem 2rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18rem;
}

.button {
  background-color: #4A4A4A;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  text-align: center;
  width: 80%;
  transition: background-color 400ms;
}

.button:hover {
  background-color: skyblue;
}

#practice {
  position: relative;
  top: 4rem;
  display: flex;
  height: 40rem;
}

#practice .left, #thesis .left {
  width: 40rem;
  margin: 2rem 1.25rem 2rem 1.5rem;
}

#practice .hero-image {
  background-image: url("../images/information-main.jpg");
  background-size: cover;
  margin-bottom: 2rem;
  height: 21.5rem;
  width: 40rem;
}

#practice .headline {
  margin-bottom: 1.5rem;
}

.quote {
  line-height: 1.25rem;
  color: grey;
  font-weight: 300;
  margin-bottom: 2rem;
}

.author {
  font-size: .75rem;
  color: #4A4A4A;
}

#practice .more {
  margin: 0 1.5rem 0 1.25rem;
  display: flex;
  flex-direction: column;
  height: 40rem;
}

.article {
  width: 28rem;
  height: 9.75rem;
  display: flex;
  align-items: center;
  border-left: 1px solid #EAEBEC;
  border-bottom: 1px solid #EAEBEC;
  padding: 1rem;
}

.article .image, .study .image {
  width: 9.75rem;
  height: 9.75rem;
}

#article1 .image {
  background-image: url("../images/information-orientation.jpg");
  background-size: cover;
}

#article2 .image {
  background-image: url("../images/information-campus.jpg");
  background-size: cover;
}

#article3 .image {
  background-image: url("../images/information-guest-lecture.jpg");
  background-size: cover;
}

.article .text, .study .text {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*width: 100%;*/
  max-width: 15rem;
  margin: 0 1rem;
}

.article .sub, .study .text {
  font-size: .85rem;
  font-weight: 300;
}

.article a {
  text-decoration: none;
  color: skyblue;
  font-weight: 300;
}

#start {
  position: relative;
  top: 4rem;
  color: #4A4A4A;
  background-color: #EAEBEC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: block;
  margin: 2rem;
  color: #4A4A4A;
}

#courses {
  width: 60rem;
  height: 42rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.course {
  height: 20.25rem;
  display: inline-block;
  width: 30%;
  margin: .5rem 1rem;
  background-color: white;
}

.course p {
  font-weight: 300;
}

.course .text {
  line-height: 1.25rem;
  padding: 1.25rem;
}

.course h4 {
  font-weight: 600;
  padding-bottom: 1rem;
}

.course span {
  display: inline-block;
  margin-bottom: 1rem;
}

#engineering .image {
  height: 9.5rem;
  background-image: url("../images/course-software.jpg");
  background-size: cover;
}

#computer-art .image {
  height: 9.5rem;
  background-image: url("../images/course-computer-art.jpg");
  background-size: cover;
}

#design .image {
  height: 9.5rem;
  background-image: url("../images/course-design.jpg");
  background-size: cover;
}

#data .image {
  height: 9.5rem;
  background-image: url("../images/course-data.jpg");
  background-size: cover;
}

#business .image {
  height: 9.5rem;
  background-image: url("../images/course-business.jpg");
  background-size: cover;
}

#marketing .image {
  height: 9.5rem;
  background-image: url("../images/course-marketing.jpg");
  background-size: cover;
}

#thesis {
  position: relative;
  top: 4rem;
  height: 100%;
  color: #4A4A4A;
}

#thesis .container {
  display: flex;
}

#thesis h1 {
  display: block;
  text-align: center;
}

#thesis video {
  margin-bottom: 2rem;
}

#thesis .headline {
  margin-bottom: 1.5rem;
}

#thesis .more {
  margin: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.study {
  height: 9.75rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.study:first-child {
  background-color: #EAEBEC;
}

#thesis1 .image {
  background-image: url("../images/thesis-fisma.jpg");
  background-size: cover;
}

#thesis2 .image {
  background-image: url("../images/thesis-now-and-then.jpg");
  background-size: cover;
}

footer {
  border-top: 1px solid #EAEBEC;
  color: grey;
  font-weight: 400;
  font-size: .85rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  display: flex;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: grey;
  margin-left: 1rem;
}

/*mobile nav*/

#header-mobile {
  width: 100%;
  max-width: 470px;
  height: 4rem;
  border-bottom: 1px solid #DBDBDB;
  position: fixed;
  z-index: 50;
  background-color: white;
}

#header-mobile img {
  display: inline-block;
  min-height: 2.25rem;
  height: auto;
  width: auto;
  margin: .5rem 2rem;
}

#header-mobile nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#header-mobile nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*1200px Breakpoint*/
@media only screen and (max-width: 1200px) and (min-width: 471px) {
  #learn {
    flex-direction: column;
  }

  #learn .right {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #learn .right h1, #learn .right h4 {
    padding-bottom: 3rem;
  }

  #learn .button {
    width: 50%;
  }

  #practice {
    width: 100%;
  }

  #practice .left {
    width: 66%;
  }

  #practice .hero-image {
    width: 100%;
  }

  #practice .right, #thesis .right {
    width: 33%;
    margin: 0;
  }

  #practice .article {
    width: 100%;
    padding: 0;
  }

  #practice .article .image, #thesis .study .image {
    display: none;
  }

  #practice .article .text {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  #courses {
    width: 100%;
    height: auto;
  }

  #start .course {
    width: 45%;
    height: 15rem;
    margin: 2.5%;
    padding: 0;
  }

  #start .course .image {
    height: 45%;
    padding-bottom: 2.5%;
  }

  #start .course .text {
    height: 47.5%;
    line-height: 1rem;
    padding: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #start h4 {
    font-size: 1rem;
    padding: 0;
  }

  #start span {
    font-size: .8rem;
    padding: 0;
    margin: 0;
  }

  #start p {
    padding: 0;
    margin: 0 0 1rem 0;
  }

  #thesis .study {
    width: 50%;
    background-color: #EAEBEC;
    text-align: center;
    padding: 0;
    justify-content: center;

  }

  #thesis .container {
    flex-direction: column;
  }

  #thesis .hero {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #thesis .quote {
    width: 90%;
  }

  #thesis .right {
    flex-direction: row;
    width: 100%;
    margin: 0;
  }
}

footer {
  position: relative;
  top: 4rem;
  padding: 1rem 0;
  justify-content: space-around;
}

/*MOBILE FORMATTING*/

@media only screen and (max-width: 470px) {

  #header {
    display: none;
  }

  #header-mobile {
    display: flex;
  }

  .section {
    width: 100%;
    max-width: 470px;
  }

  .left img, .left .banner, .hero-image {
    display: none;
  }

  #spacer {
    display: block;
    height: 11.25rem;
    width: 100%;
    background-color: #4A4A4A;
    position: relative;
    top: 4rem;
  }

  #learn .right {
    margin: 2.5rem 1rem;
    text-align: center;
    align-items: center;
  }

  #practice {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .headline, .quote, .author {
    display: none;
  }

  #practice .left {
    display: none;
  }

  #practice .article .image, #thesis .study .image {
    display: inline-block;
  }

  #practice .article {
    flex-direction: column;
    border: none;
    height: 30%;
    width: 100%;
    padding: 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid grey;
  }

  #practice .more {
    height: 100%;
    width: 100%;
    margin: 2rem 0;
  }

  #practice .article .image {
    width: 80%;
    height: 10rem;
  }

  #practice .more .text {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  #practice .more h4 {
    font-size: 2rem;
    margin: 1rem;
  }

  #practice .more p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 1rem;
  }

  #practice .more a {
    font-size: 1.2rem;
    margin: 1rem;
  }

  #article1 .image {
    background-image: url("../images/information-orientation-mobile.jpg");
    background-size: cover;
  }

  #article2 .image {
    background-image: url("../images/information-campus-mobile.jpg");
    background-size: cover;
  }

  #article3 .image {
    background-image: url("../images/information-guest-lecture-mobile.jpg");
    background-size: cover;
  }

  #start {
    background-color: white;
  }

  .course {
    width: 100%;
    max-width: 470px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #courses {
    margin: 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 470px;
    height: 100%;
  }

  .course {
    height: auto;
    width: 80%;
    margin: .5rem;
    background-color: #EAEBEC;
  }

  .course h4 {
    padding: 1rem;
  }

  .course span, .course p {
    display: none;
  }

  #start .image {
    display: none;
  }

  #thesis .container {
    flex-direction: column;
    width: 100%;
  }

  #thesis .left {
    width: 100%;
    margin: 0;
  }

  #thesis .title {
    margin-top: 0;
  }

  #thesis video {
    /*max-width: 470px;*/
    width: 100%;
    height: 100%;
    margin: 0;
    paddig: 0;
  }

  #thesis .more {
    display: none;
  }

  footer {
    width: 100%;
    max-width: 470px;
    margin: 0 1.5rem 0 1.5rem;
    padding: 1.5rem;
  }
}
