@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.flex-container {
  display: flex;
}

#header {
  height: 64px;
  padding: 0 3rem;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  z-index: 50;
}

#header .left {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

#header .left img {
  height: 2.5rem;
  padding-right: .75rem;
}

.grey {
  color: grey;
}

#header nav {
  width: 45%;
}

#header nav ul {
  display: flex;
  justify-content: space-between;
}

#header nav ul li a {
  text-decoration: none;
  color: grey;
  margin-left: 1rem;
}

#learn {
  width: 100%;
  max-width: 1200px;
  position: relative;
  top: 64px;
  background-color: #D8D8D8;
  color: #4A4A4A;
  padding: 4rem 3rem;
}

#learn .image {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  height: 25rem;
  width: 40rem;
}

#learn .info {
  padding-left: 5rem;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 60%;
}

.cta {
  color: white;
  background-color: #4A4A4A;
  padding: .5rem 5rem;
  display: inline-block;
  font-weight: 300;
  text-align: center;
}
