@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
html {
  font-size: 16px; }

body {
  font-family: "Montserrat", sans-serif;
  width: 100%; }

h1 {
  font-size: 2.5rem;
  font-weight: 700; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.25rem;
  line-height: 1.5rem; }

.section {
  width: 100%;
  max-width: 1200px; }

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#header {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: fixed;
  z-index: 50; }

#header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  padding-left: 3rem;
  color: #4A4A4A; }

#header .logo {
  height: 2.5rem;
  padding-right: .75rem; }

#header .grey {
  color: grey; }

nav {
  padding-right: 3rem;
  width: 50%; }

#header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

#header nav ul li a {
  text-decoration: none;
  color: grey;
  margin-left: 1rem; }

#learn {
  position: relative;
  top: 4rem;
  color: #4A4A4A;
  background-color: #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#learn .left .banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  height: 30rem;
  width: 40rem;
  margin: 2rem 1.25rem 2rem 1.5rem; }

#learn .right {
  margin: 2rem 1.5rem 2rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 18rem; }

.button {
  background-color: #4A4A4A;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3rem;
  text-align: center;
  width: 80%; }

#practice {
  position: relative;
  top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40rem; }

#practice .left {
  width: 40rem;
  margin: 2rem 1.25rem 2rem 1.5rem; }

#practice .hero-image {
  background-image: url("../images/information-main.jpg");
  background-size: cover;
  margin-bottom: 2rem;
  height: 21.5rem; }

#practice .headline {
  margin-bottom: 1.5rem; }

.quote {
  line-height: 1.25rem;
  color: grey;
  font-weight: 300;
  margin-bottom: 2rem; }

.author {
  font-size: .75rem;
  color: #4A4A4A; }

#practice .more {
  margin: 0 1.5rem 0 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*justify-content: space-between;*/
  height: 40rem; }

.article {
  width: 28rem;
  height: 9.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  padding: 1rem;
  /*background-color: red;*/ }

.article .image {
  width: 9.75rem;
  height: 9.75rem;
  background-color: skyblue; }

#article1 .image {
  background-image: url("../images/information-orientation.jpg");
  background-size: cover; }

#article2 .image {
  background-image: url("../images/information-campus.jpg");
  background-size: cover; }

#article3 .image {
  background-image: url("../images/information-guest-lecture.jpg");
  background-size: cover; }

.article .text {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*background-color: pink;*/
  max-width: 16rem; }

.article .sub {
  font-size: .85rem;
  font-weight: 300; }

.article a {
  text-decoration: none;
  color: skyblue;
  font-weight: 300; }

#start {
  position: relative;
  top: 4rem;
  color: #4A4A4A;
  background-color: #D8D8D8;
  height: 54rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.courses {
  width: 60rem;
  height: 42rem; }

.course {
  height: 20.25rem;
  /*width: 30%;*/
  width: 19rem;
  margin: .5rem 1rem;
  background-color: white;
  text-align: center; }

.course .image {
  height: 9.5rem;
  background-image: url("../images/course-software.jpg");
  background-size: cover; }

.course .title {
  margin: 1rem; }
