@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
html {
  font-size: 16px; }

body {
  font-family: "Montserrat", sans-serif;
  width: 100%; }

h1 {
  font-size: 2.5rem;
  font-weight: 700; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.25rem;
  line-height: 1.5rem; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.section {
  width: 100%;
  max-width: 1080px; }

#header {
  height: 4rem;
  width: 100%;
  max-width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: fixed;
  z-index: 50; }

#header .left {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3rem;
  color: #4A4A4A; }

#header .left img {
  height: 2.5rem;
  padding-right: .75rem; }

.grey {
  color: grey; }

#header nav {
  width: 45%;
  padding-right: 3rem; }

#header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

#header nav ul li a {
  text-decoration: none;
  color: grey;
  margin-left: 1rem; }

#learn {
  background-color: #D8D8D8;
  position: relative;
  top: 4rem;
  color: #4A4A4A;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#learn .left {
  /*width: 60%;*/
  width: 38rem;
  margin: 2rem; }

#learn .image {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  height: 19rem; }

#learn .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20rem;
  margin-right: 2rem;
  /*background-color: lightblue;*/ }

.button {
  background-color: #4A4A4A;
  color: white;
  padding: 1rem;
  text-align: center;
  width: 80%;
  -ms-flex-item-align: start;
      align-self: flex-start; }

#practice {
  position: relative;
  top: 4rem;
  /*background-color: skyblue;*/
  height: 40rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

#practice .hero {
  width: 34rem;
  margin: 2rem; }

#practice .hero-image {
  background-image: url("../images/information-main.jpg");
  background-size: cover;
  height: 20rem;
  margin-bottom: 2rem; }

#practice .more {
  margin: 2rem; }

.more {
  width: 423px;
  margin: 1rem;
  border-left: 1px solid #D8D8D8;
  /*background-color: limegreen;*/ }

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15rem;
  height: 11rem;
  margin: 1rem;
  border-bottom: 1px solid #D8D8D8;
  width: 100%;
  line-height: 1.5rem; }

#article1 .image, #article2 .image, #article3 .image {
  width: 35%;
  height: 9rem;
  margin-right: 2rem; }

#article1 .image {
  background-image: url("../images/information-orientation.jpg");
  background-size: cover; }

#article2 .image {
  background-image: url("../images/information-campus.jpg");
  background-size: cover; }

#article3 .image {
  background-image: url("../images/information-guest-lecture.jpg");
  background-size: cover; }

#practice h3 {
  margin-bottom: 2rem;
  color: #4A4A4A;
  font-weight: 700;
  /*font-size: 1.75rem;*/ }

#practice .quote {
  line-height: 1.25rem;
  color: grey;
  font-weight: 300;
  margin-bottom: 2rem; }

.author {
  font-size: .75rem;
  color: #4A4A4A; }

#practice h4 {
  color: #4A4A4A;
  font-weight: 400;
  margin-bottom: 1rem; }

#practice .article p {
  font-weight: 300;
  font-size: .85rem;
  margin-bottom: 2rem; }

.article a {
  text-decoration: none;
  color: skyblue; }
