.hero {
  font-family: Roboto, Serif;
  text-align: center;
  min-height: 800px;
  background-size: cover;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h2 {
  margin: 100px 0px 50px 0px;
  font-size: 40px;
  line-height: 40px;
}

/* INTRO STYLE */

#intro {
  background-image: url("../img/weather/hero-clear-night.jpg");
}

#intro h1, #intro h5 {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

#intro h1 {
  font-size: 72px;
  line-height: 55px;
}

#intro h5 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.hero.landscape {
  color: white;
}

.cta {
  background-color: #000000;
  color: #ffffff;
  padding: 0px;
  width: 180px;
  font-size: 18px;
  line-height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cta:hover {
  background-color: #00CFFF;
}

/* ABOUT STYLE */

#about {
  min-height: 0;
}

#about .left-col {
  color: #00E2AC  ;
  padding: 20px;
  text-transform: uppercase;
  text-align: right;
}

#about .right-col {
  padding: 20px;
  text-align: right;
}

.left-col h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 60px;
  font-weight: 700;
  line-height: 55px;
}

.right-col h5 {
  font-size: 24px;
  line-height: 30px;
}

/* GALLERY STYLE */

#gallery {
  background-color: #EEFDF9;
}

#gallery .container {
  padding: 0px;
  margin: 0px;
}

#gallery .col-md-4 {
  overflow: hidden;
  padding: 0 5 10 5;
}

.col-md-4 img {
  height: 100%;
  max-width: 390px;
  max-height: 280px;
}

img {
  vertical-align: middle;
}

/* BRIDGE */

#bridge {
  background-image: url("../img/bridge/full-width.jpg");
  width: 100%;
}

/* CONTACT */

#contact {
  text-align: center;
}

#contact p {
  font-size: 24px;
  max-width: 740px;
  margin-bottom: 40px;
}

#social {
  padding: 20px
}

#social a {
  margin-top: 0 10 0 10;
  text-decoration: none;
}

#social img {
  height: 20px;
}

/* FOOTER */
#footer {
  display: flex;
  flex-direction: row;
  height: 40px;
  padding-bottom: 150px;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  /* width: 100%; */
}

#footer .footer-item {
  flex: 1;
  max-width: 100px;
  text-align: left;
}

#footer a {
  margin-right: 20px;
  margin-left: 5px;
  padding: 0px;
  font-size: 16px;
  color: #000000;
  line-height: 40px;
}

#copyright {
  flex-direction: row;
  flex: 1;
  color: #00E2AC;
  text-align: right;
}

#copyright span {
  display: flex;
  justify-content: flex-end;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width:480px) {
  #intro {
    min-height: 640px;
  }
  .left-col {
    font-size: 42px;
    line-height: 40px;
  }
  #footer {
    margin-left: 20px;
    margin-right: 20px;
  }
  #footer h4 {
    padding-right: 20px;
  }
}

@media screen and (max-width: 992px) {
  .row {
    width: 100%;
  }
  .col-md-4 {
    width: 100%;
  }
  .col-md-4 img {
    width: 100%;
    height: auto;
    max-width: 992px;
    max-height: 900px;
  }
}
