html {
  font-size: 18px;
  font-family: Helvetica, sans-serif; }

.container {
  /*border: 2px solid blue;*/
  max-width: 960px;
  margin: 0 auto; }

h3 {
  font-size: 1rem;
  font-weight: bold; }

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: .5rem; }

#header {
  background-color: black;
  color: white;
  padding: .66rem; }

#header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#header img {
  display: inline-block;
  height: 1.5rem;
  padding: .5rem; }

#header span {
  padding: .5rem; }

#banner {
  background-image: url("../img/moto.jpeg");
  background-size: cover;
  height: 25rem; }

#headline {
  background-color: black;
  color: white;
  width: 20em;
  position: relative;
  top: 9rem;
  padding: 2em 3em; }

#nav {
  background-color: firebrick; }

nav {
  padding: .75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.mobile-nav-container {
  padding: .75rem;
  color: white;
  text-align: center; }

nav a {
  text-decoration: none;
  color: white; }

nav a:hover {
  color: darkgrey; }

#products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.product {
  width: 30%;
  max-width: 15rem;
  margin: 3rem 0; }

.product-image {
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.product-image img {
  max-width: 8em; }

.description {
  display: block;
  background-color: black;
  padding: .5rem;
  color: white;
  text-align: center; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4rem; }

.title {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  margin-bottom: .75rem; }

.location, .hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%; }

#footer {
  background-color: black;
  color: white; }

#footer span {
  display: block;
  padding: 5rem 0; }

@media only screen and (min-width: 1025px) {
  .mobile-nav-container {
    display: none; } }

@media only screen and (max-width: 1024px) {
  #banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .product {
    width: 47%; }
  .desktop {
    display: none; }
  .mobile-nav-container {
    display: block;
    font-size: 1.5rem; }
  #products, .info {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  #products .glasses {
    display: none; }
  #footer span {
    text-align: center; } }

@media only screen and (max-width: 470px) {
  #banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  #headline {
    width: 100%; }
  .product {
    width: 90%; } }
