html {
  font-size: 18px;
  font-family: Helvetica, sans-serif; }

body {
  line-height: 1.25rem; }

.container {
  max-width: 960px; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#header {
  background-image: url("../img/glasses-bg.png");
  background-size: cover;
  height: 30rem;
  text-align: right; }

#navbar {
  background-color: cadetblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  color: white;
  width: 960px;
  margin-top: 1rem; }

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.left img {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
  margin-left: 2rem; }

nav a {
  text-decoration: none;
  color: white;
  margin: 0 2rem; }

#headline {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.5rem 5rem;
  background-color: white;
  top: 10rem;
  right: -2rem; }

#features .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3rem 0rem;
  height: 8rem; }

#features .icon {
  margin: 0 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#features img {
  width: 6rem;
  margin-bottom: 1.25rem; }

#features .exams img {
  width: 4rem; }

#info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem; }

#philosophy, #appointments {
  width: 35%;
  margin: 2.5%; }

.title {
  background-color: cadetblue;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  padding: .5rem 1.25rem;
  max-width: 10rem;
  margin-bottom: 1.25rem; }

#footer .container {
  background-color: azure;
  padding: 4rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 960px; }

#footer img {
  height: 1.5rem;
  padding-right: 1rem; }

/*MEDIA QUERIES*/
@media only screen and (max-width: 1080px) {
  .container {
    width: 100%;
    max-width: 100%; }
  #header {
    height: 22rem; }
  #navbar {
    width: 100%;
    margin-top: 0; }
  #headline {
    right: 2rem;
    top: 12rem;
    padding: .75rem 4rem;
    font-size: 1.33rem; }
  #footer {
    max-width: 960px;
    width: 100vw; } }

@media only screen and (max-width: 640px) {
  #header {
    height: 17rem;
    background-position: 20%; }
  .left img {
    height: 1rem;
    margin-right: .5rem; }
  #navbar {
    font-size: .75rem; }
  #headline {
    top: 9rem;
    font-size: 1rem;
    right: 0;
    width: 100%;
    text-align: center;
    opacity: .75; }
  #features {
    height: 25rem;
    margin: 3rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  #features .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .icon {
    width: 6rem; }
  #info .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  #philosophy, #appointments {
    text-align: center;
    width: 100%;
    margin: 2rem; }
  .title {
    display: block; } }
