@import url('https://fonts.googleapis.com/css?family=Monoton|Open+Sans:400,600,700');

/*font-family: 'Open Sans', sans-serif;
font-family: 'Monoton', cursive;*/

body {
  font-family: 'Open Sans', sans-serif;
}

nav ul li a {
  text-decoration: none;
  color: #777;
}

/*.navbar-default .navbar-nav>.active>a,  {
   text-decoration: none;
   color: #399bd1;
   background-color: inherit;
 }*/


/*Media Queries*/
/*.collapse {
  display: none;
}*/
