body {
  background-color: black;
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  margin-top: 0px; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

#header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  border-bottom: 1px solid seashell;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black; }

#header img {
  height: 50px; }

nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  padding-right: 30px; }

nav span {
  display: inline-block;
  padding: 20px 10px; }

#header a {
  color: seashell; }

#main {
  padding-top: 92px;
  margin: 0 auto;
  width: 1200px; }

#mission {
  background-image: url("../img/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.text {
  text-align: center;
  background-color: black;
  width: 100%; }

#featured {
  padding-top: 92px; }

.tea {
  text-align: center;
  margin: 10px; }

.tea img {
  width: 300px;
  height: 200px; }

#locations {
  background-image: url("../img/img-locations-background.jpg");
  height: 500px;
  width: 100%;
  margin-top: 92px; }

.locations {
  /*background-color: blue;*/
  margin: 0px; }

.location {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 300px;
  height: 300px;
  text-align: center;
  background-color: black;
  margin: 0px 40px; }

#contact {
  height: 200px;
  margin: 70px 0px;
  text-align: center;
  display: block;
  width: 100%; }

#footer {
  margin: 0px 20px;
  width: 100%; }
